body {
    background-size: cover;
    background-repeat: no-repeat;
}
.img-1 {
    width: 160px;
    position: absolute;
    left: 20px;
    top: -5px;
}
#t1 {
    color: maroon;
    text-shadow: 0px 0px 10px black,
                 0px 0px 20px black,
                 0px 0px 30px black,
                 0px 0px 50px black;
    font-size: 160px;
    letter-spacing: 60px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
}
.img-2 {
    width: 800px;
    position: absolute;
    left: 240px;
    top: 10px;
    transform: scale(0.9);
}
nav {
    padding: 5px;
    position: relative;
    left: 170px;
    top: 30px;
}
a {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: maroon;
}
